.block-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: left;
  justify-content: center;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  .icon-container {
    height: 50px !important;
  }
}
