$ams-geel: #FFE600;
$ams-oranje: #FF9100;
$ams-rood: #EC0000;
$ams-donkergroen: #00A03C;
$ams-groen: #BED200;
$ams-paars: #A00078;
$ams-magenta: #E50082;
$ams-donkerblauw: #004699;
$ams-blauw: #009DE6;
$ams-lichtgrijs: #E8E8E8;
$ams-middengrijs: #BEBEBE;
$ams-donkergrijs: #787878;
$ams-antraciet: #434343;
$ams-zwart: #000000;
$ams-wit: #FFFFFF;
$ams-zwart: #000000;
$ams-body: #434343;
$ams-footer: #666666;
$ams-hint: #787878;
$ams-form-field: #BEBEBE;
$ams-background-sidebars: #E5E5E5;
$ams-top-menu: #F3F3F3;

$ams-font-family: Avenir;

body {
  font-family: Avenir, SansSerif;
  line-height: 1.25;
}

.alert {
  background-color: $ams-lichtgrijs;
}

.form-inline label {
  justify-content: left;
}

.form-control {
  background-color: $ams-lichtgrijs;
  border: none;
  width: 100% !important;
  &:focus {
    background-color: $ams-lichtgrijs;
  }
}

.borderless tbody td, .borderless thead th {
  border: 0;
}

.btn {
  background-color: $ams-lichtgrijs;
}

.btn-primary {
  background-color: $ams-blauw;
}

select {
  height: 20px !important;
}

.custom-select {
  color: $ams-rood;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
}

header {
  height: 108px;
}

h1 {
  font-size: 32px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  font-weight: 900;
}
