//
//  Application specific styling
//  specific
//

@import "~stijl/scss/ams-colorpalette";
@import "~stijl/scss/ams-breakpoints";

// header styling
.ams-header {
  width: 10rem;

  //margin-top: 1rem;
  //margin-bottom: 1rem;
  //margin-left: -2rem;
  //position: absolute;
  //z-index: 8887;
  //
  //@media screen and (max-width: #{$grid-mq-small}) {
  //  position: relative;
  //  margin-left: 0;
  //}
}

body {
  margin: 0;
}

// The sticky filter on top
.sticky-top {
  position: sticky;
  top: 0;
  background-color: $ams-wit;
  box-shadow: 0 1px 1px 0 $ams-lichtgrijs;
  z-index: 7777;
  padding: 0;

  display: flex;
  flex-direction: row;
  height: 4.5rem;
  width: 100%;

  > div {
    padding: .5rem;
  }

  @media screen and (max-width: #{$grid-mq-small}) {
    flex-direction: column;
    height: auto;
  }

  .header-filter {
    display: flex;
    flex-direction: row;
    min-width: 90%;

    @media screen and (max-width: #{$grid-mq-small}) {
      flex-direction: column;
      height: auto;
    }


    .rij {
      display: flex;
      flex-direction: column;
      width: 24%;
      height: 2rem;
      margin-right: 1%;
      margin-bottom: 0;

      @media screen and (max-width: #{$grid-mq-small}) {
        width: 100%;
        height: auto;
      }
    }
  }
}


.app {
  margin-top: 5px;
}

.main-view {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card {
  margin-top: 1rem;
}
