//
//  Application specific styling
//  specific
//

@font-face {
  font-family: "Amsterdam Sans";
  src: url("./static/fonts/AmsterdamSans/AmsterdamSans-Regular.woff2") format("woff2"),
    url("./static/fonts/AmsterdamSans/AmsterdamSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Amsterdam Sans";
  src: url("./static/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff2") format("woff2"),
    url("./static/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Amsterdam Sans";
  src: url("./static/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff2") format("woff2"),
    url("./static/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff") format("woff");
  font-weight: 800;
}

figure {
  margin: 0;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    box-decoration-break: clone;

    column-count: 1;

    font-size: 10px !important;

    color-adjust: exact !important;
  }

  table {
    break-inside: avoid-page;

    font-size: 10px !important;
    padding: 0 !important;
  }

  figure {
    break-inside: avoid-page;
  }
}
