//
//  Application specific styling
//  specific
//

@import "~@amsterdam/asc-assets/static/fonts/fonts.css";

figure {
  margin: 0;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    box-decoration-break: clone;

    widows: 5;
    orphans: 5;

    column-count: 1;

    font-size: 8px !important;
  }

  table {
    break-inside: avoid-page;

    font-size: 8px !important;
    padding: 0 !important;
  }

  figure {
    break-inside: avoid-page;
  }
}
